.snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    filter: blur(1px);
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-init), -10vh, 0);
    }

    100% {
        transform: translate3d(var(--left-end), 110vh, 0);
    }
}